.topics-list {
    position: relative;
    top: -50px;
}
.num-descr {
    width: 90px;
    font-size: 0.8rem;
    position: relative;
    margin-left: auto;
    right: 0;
    text-align: center;
    font-weight: bold;
}


.quest-count {
    margin: 0 15px ;
    width: 10px;
    float: right;
}


.no-questions {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px;
    font-size: 1.3rem;
}

.no-questions a {
    color: #0c0c0c;
    margin-top: 20px;
    font-size: 1rem;
    border: 1px solid #a8a7a7;
    padding: 6px 10px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.7);
}

.no-questions a:hover {
    text-decoration: none;
    font-weight: bold;
    background: #fae4f2;
}

.after-answer {
    text-align: center;
    margin: 0 auto;
}

.correct-text {
    margin-top: 40px;
    font-weight: bold;
    font-size: 1.5rem;
    color: #008000
}

.incorrect-text {
    margin-top: 40px;
    font-weight: bold;
    font-size: 1.5rem;
    color: #ea0202
}

.correct-answer.list-item {
    background-color: #dcfadd;
}

.incorrect-answer.list-item {
    background-color: #fddddd;
}

.next-question {
    color: #0c0c0c;
    font-size: 1rem;
    border: 1px solid #a8a7a7;
    padding: 6px 10px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.7);
}

.next-question:hover {
    text-decoration: none;
    color: #0c0c0c;
    background: #e5e3e3;
}
