body {
    background-image: url('b3.svg');
    background-size: cover;
    background-attachment: fixed;
    max-width: 900px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    padding:  50px 20px;
    background-position: center;
}


body::after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.6);
}

h1 {
    display: flex;
    margin-top: 30px;
    width: 100%;
    justify-content: center;
    font-weight: bold;
}

.nav-back-link {
    position: absolute;
    right: 0;
    margin-right: 50px;
    color: black;
}

.nav-back-link:hover {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.nav-back-link i {
    margin-right: 5px;
}

.fa-circle-check {
    color: green;
    font-size: 1.3rem;
    margin-right: 5px;
}

.fa-check {
    color: green;
    font-size: 1.3rem;
    margin-right: 5px;
}

.fa-xmark {
    color: red;
    font-size: 1.3rem;
    margin-right: 5px;
}

/******** ERRORS ***********************************************/
.error {
    color: red;
    font-weight: normal;
    float: right;
    max-width: 80%;
    text-align: right;
}

.auth-error {
    color: #d50606;
    font-weight: normal;
    font-size: 1.5rem;
    text-align: center;
}

.add-new-validation-err{
    float: left;
    margin-left: 10px;
}
/******** MAIN PAGE ***********************************************/


/******** FORM FOR ADDING NEW ITEMS *******************************/
h4{
    margin-top: 40px;
}

.add-new-element {
    display: flex;
    width: 100%;
}

.form-field {
    padding: 8px;
    width: 100%;
    border: 1px solid grey;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9);
}

.form-action{
    border: 1px solid grey;
    border-left: none;
    width: 120px;
    font-weight: bold;
    color: white;
    background: #363636;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.form-action:hover{
    color: black;
    background: #8b8291;
}

/**** Answers ****/
.new-answer-field {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid grey;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9);
}

.input-answer {
    border: none;
    outline: none;
    width: 90%;
    background: transparent;
}

.checkbox-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65px;
    color: #2a2828;
    margin-right: 15px;
    font-size: 0.85rem;
}

/******** LIST ITEMS **********************************************/
h2 {
    margin: 50px 0 20px 0;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

ul li a {
    padding: 8px;
    margin-right: 10px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid grey;
    border-radius: 8px;
    text-decoration: none;
    color: black;
}

ul li a:hover{
    text-decoration: none;
    background-color: rgb(239, 234, 221);
    color: black;
}


.list-action {
    border: 1px solid grey;
    padding: 6px 10px;
    font-weight: bold;
    border-radius: 8px;
    background: #dad9d9;
}

.list-action:hover {
    color: white;
    background: #363636;
}

/** Answers **/
.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-right: 10px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid grey;
    border-radius: 8px;
    color: black;
}


/******** LOGIN FORM **********************************************/
.user-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 60px auto;
}

.authentication-form {
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin: auto;
    flex-wrap: wrap;
    font-weight: bold;
}

.authentication-form div {
    width: 100%;
}

.authentication-form div input {
    width: 100%;
}

.email input, .password input{
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid grey;
    border-radius: 8px;
    text-decoration: none;
    color: black;
}

.submit-btn input {
    border: 1px solid grey;
    padding: 6px 10px;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    margin: 15px 0;
    background: #1846de;
}

.auth-link {
    color: black;
}

/******** QUIZ ****************************************************/
.topics-list {
    position: relative;
    top: -50px;
}
.num-descr {
    width: 90px;
    font-size: 0.8rem;
    position: relative;
    margin-left: auto;
    right: 0;
    text-align: center;
    font-weight: bold;
}


.quest-count {
    margin: 0 15px ;
    width: 10px;
    float: right;
}


.no-questions {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px;
    font-size: 1.3rem;
}

.no-questions a {
    color: #0c0c0c;
    margin-top: 20px;
    font-size: 1rem;
    border: 1px solid #a8a7a7;
    padding: 6px 10px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.7);
}

.no-questions a:hover {
    text-decoration: none;
    font-weight: bold;
    background: #fae4f2;
}

.after-answer {
    text-align: center;
    margin: 0 auto;
}

.correct-text {
    margin-top: 40px;
    font-weight: bold;
    font-size: 1.5rem;
    color: #008000
}

.incorrect-text {
    margin-top: 40px;
    font-weight: bold;
    font-size: 1.5rem;
    color: #ea0202
}

.correct-answer {
    background-color: #dcfadd;
}

.incorrect-answer {
    background-color: #fddddd;
}

.next-question {
    color: #0c0c0c;
    font-size: 1rem;
    border: 1px solid #a8a7a7;
    padding: 6px 10px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.7);
}

.next-question:hover {
    text-decoration: none;
    color: #0c0c0c;
    background: #e5e3e3;
}

/******** NAVIGATION BAR ******************************************/
.nav-bar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 30px;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.nav-bar a {
    margin: 0 20px;
    color: black;
    font-weight: bold;
}

